# General ignores
.DS_Store
build
out
kotlin-js-store

# IntelliJ ignores
*.iml
/*.ipr
.idea/

# Gradle ignores
.gradle

# Kotlin ignores
.kotlin

# Java heap dumps and logs
*.hprof
java_pid*.hprof
hs_err_pid*.log

# Kobweb
.kobweb/
